In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weatherHistory.csv.zip')

In [3]:
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [19]:
df['Formatted Date'] = pd.to_datetime(df['Formatted Date'], errors='coerce')

In [20]:
df['Timestamp'] = df['Formatted Date'].astype('int64') // 10**9

In [24]:
x = df['Timestamp']

In [25]:
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [26]:
x

0        1143842400
1        1143846000
2        1143849600
3        1143853200
4        1143856800
            ...
96448    1473440400
96449    1473444000
96450    1473447600
96451    1473451200
96452    1473454800
Name: Timestamp, Length: 96453, dtype: int64

In [27]:
y = df['Temperature (C)']

In [28]:
y

0         9.472222
1         9.355556
2         9.377778
3         8.288889
4         8.755556
           ...
96448    26.016667
96449    24.583333
96450    22.038889
96451    21.522222
96452    20.438889
Name: Temperature (C), Length: 96453, dtype: float64

In [29]:
x=sm.add_constant(x)

In [30]:
df['Formatted Date'] = pd.to_datetime(df['Formatted Date'], errors='coerce')

In [31]:
x

       const   Timestamp
0        1.0  1143842400
1        1.0  1143846000
2        1.0  1143849600
3        1.0  1143853200
4        1.0  1143856800
...      ...         ...
96448    1.0  1473440400
96449    1.0  1473444000
96450    1.0  1473447600
96451    1.0  1473451200
96452    1.0  1473454800

[96453 rows x 2 columns]

In [32]:
model = sm.OLS(y,x).fit()

In [34]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Temperature (C)   R-squared:                       0.540
Model:                            OLS   Adj. R-squared:                  0.540
Method:                 Least Squares   F-statistic:                 1.134e+05
Date:                Wed, 19 Mar 2025   Prob (F-statistic):               0.00
Time:                        15:04:34   Log-Likelihood:            -3.1703e+05
No. Observations:               96453   AIC:                         6.341e+05
Df Residuals:                   96451   BIC:                         6.341e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         16.0679      0.024    664.042      0.000      16.020      16.115
Timestamp   1.353e-09   4.02e-12    336.765      0.000    1.35e-09    1.36e-09
==============================================================================
Omnibus:                      250.685   Durbin-Watson:                   0.057
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              251.930
Skew:                           0.122   Prob(JB):                     1.97e-55
Kurtosis:                       2.948   Cond. No.                     6.99e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.99e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

### Scikit-Learn 으로 linear regression